body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%; /* 头部宽度占满整个视口宽度 */
    height: 33.33vh; /* 头部高度占据视口高度的三分之一 */
    position: relative; /* 如果您需要在头部内部定位其他元素，可能会用到相对定位 */
    overflow: hidden; /* 如果图片比容器大，这会防止溢出的部分显示出来 */
}

.header-image {
    width: 100%; /* 图片宽度占满.header容器 */
    height: 43.33vh; /* 图片高度同样占据视口高度的三分之一 */
    object-fit: cover; /* 图片会覆盖整个容器区域，而且会保持宽高比 */
    object-position: bottom; /* 图片会在容器中居中显示 */
}


/* 调整导航栏样式 */
.topnav {
    text-align: center; /* 使链接居中 */
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 0; /* 或者您需要的任何垂直内边距 */
}

/* 调整链接样式 */
.topnav a {
    display: inline-block; /* 代替float */
    color: #090909;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.main-content {
    width: 55%; /* 设置主内容区域的宽度 */
    margin-left: auto; /* 自动计算左边距 */
    margin-right: auto; /* 自动计算右边距 */
    padding: 20px; /* 主内容区域内边距 */
    box-sizing: border-box; /* 防止内边距影响总宽度 */
}

/* 清除浮动 */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* 调整主内容区域 */
.content-section {
    background-color: #fff; /* 内容区域背景颜色 */
    padding: 20px; /* 内容区域内边距 */
    margin-bottom: 20px; /* 与下一个内容区域的间距 */
    border-radius: 8px; /* 内容区域边角圆滑 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 内容区域阴影效果 */
    text-align: left; /* 文本对齐方式 */
}

.content-section .more-link {
    display: block; /* 使链接显示为块级元素以占据整行 */
    margin-bottom: 20px; /* 或您所需的任何值 */
    color: #0066cc; /* 链接颜色 */
    text-decoration: none; /* 去掉下划线 */
}



hr {
    margin-top: 60px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* 新增侧边栏样式 */
.sidebar {
    margin-top: 100px;
    width:15%; /* 侧边栏宽度，您可以根据需要调整 */
    float: left; /* 将侧边栏浮动到左边 */
    height: 10vh; /* 可选，如果您希望侧边栏高度填满屏幕 */
    background-color: #f2f2f2; /* 侧边栏背景颜色，可根据设计调整 */
}

.sidebar img {
    width: 100%; /* 使图片宽度填满侧边栏 */
    height: auto; /* 高度自动，保持图片比例 */
    margin-bottom: 5px; /* 图片和文字之间的间距 */
}